@font-face {
  font-family: PaintBrush;
  src: url(/assets/Graffitipaintbrush-21Jv.ttf);
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes blob {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  

body {
  font-family: PaintBrush;
  font-style: italic;
  font-size: 48px;
  line-height: 1.25;
  background-color: antiquewhite;
  margin: 100vh 0 0 0;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  font-size: 10vw;
  font-style: italic;
  animation: slideInFromLeft 2s ease-in-out forwards;
}


h2 {
  max-width: 480px;
  font-size: 36px;
  text-align: center;
  animation: slideInFromTop 1s ease-in-out forwards;
}

section {
 
  padding: 200px;
}



figure {
  max-width: 900px;
  margin: 0 auto 0 auto;
}

figcaption {
  margin: 24px 20% 0 0;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  mix-blend-mode: multiply;
  pointer-events: none;
}

path {
  transform: scale(0);
  transition: transform 5s;
}

g.blob.in-view path {
  transform: scale(1);
}

::-webkit-scrollbar {
  width: 8px;
  
  background-image: linear-gradient(180deg, #ffffff, #80C4B7, #7C8363, #D3CAE2, #ffffff);
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.arrow {
  
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #000000; /* Change color as needed */
  animation: bounce 1s infinite alternate;
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%, 0);
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(15px);
  }
}